@page "/"
<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Compilador de frases</MudText>
    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="7">
            <MudText Typo="Typo.h5" GutterBottom="true">Entrada</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Entrada a compilar" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8">Compilar</MudButton>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="5">
            <MudText Typo="Typo.h5" GutterBottom="true">Resultado</MudText>
            <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                <MudList Clickable="true">
                    @*
        <MudListItem Icon="@Icons.Material.Filled.ContentCut">
            <div class="d-flex">
                <MudText>Scissor - Big</MudText>
                <MudText Inline="true" Class="ml-auto">$5</MudText>
            </div>
        </MudListItem>
                    *@
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Estado:</MudText>
                        <MudText Class="ml-auto"><b>En proceso</b></MudText>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>