
@page "/sobre"

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Elaborado por</MudText>
    <MudSimpleTable Style="overflow-x: auto;" Striped="true" Bordered="true" Hover="true">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var est in Estudiantes)
            {
            <tr>
                <td>@est.NombreCompleto</td>
                <td>@est.Carne</td>
                <td>@est.Email</td>
            </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudContainer>


@code {
    public class Estudiante
    {
        public string NombreCompleto { get; set; }
        public string Carne { get; set; }
        public string Email { get; set; }
        public Estudiante(string n, string c, string e) {
            NombreCompleto = n;
            Carne = c;
            Email = e;
        }
    }
    List<Estudiante> Estudiantes = new List<Estudiante>()
        {
            new Estudiante("Erik Kühlmann", "B84175", "erik.kuhlmann@ucr.ac.cr"),
            new Estudiante("Esteban Marín", "B84594", "jose.marinmasis@ucr.ac.cr"),
            new Estudiante("Adrián Sibaja", "B87561", "adrian.sibajaretana@ucr.acr.cr"),
        };

    string[] headings = { "Nombre", "Carné", "Email", };

}