@inherits LayoutComponentBase
<div class="main">
    <MudAppBar Color="Color.Dark" Fixed="false" Dense="true">        
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Link="/"/>
        <MudText Typo="Typo.h5" class="px-4">Compilador</MudText>
        <MudAppBarSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Groups" Color="Color.Inherit" Link="/sobre" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/AdrianSibajaRetana/Proyecto-Compiladores" />
    </MudAppBar>

    <MudMainContent Class="mudblazor-main-content">
        @Body
    </MudMainContent>

</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />